<style>
	a {
		color: aqua;
	}
</style>

<div class="jumbotron" style="background: #202020">
    <h1>RefactorMe</h1>
    <p class="lead">
		An ASP.NET Web API project refactored
		from &ldquo;<a href="https://github.com/cchmbrln/refaction" target="_blank">A terribly written Web API project</a>...used as a test for potential C# applicants.&rdquo;<br />
		RefactorMe is a RESTful API developed using the latest tools, technology and best practices.
		These are briefly described below.<br />
		For more information about the project, please click <a href="@Url.Action("Index", "Readme")">here</a>.
		Alternatively, you may click the &lsquo;Readme&rsquo; link on the navigation bar.
	</p>
</div>
<div class="row">
    <div class="col-md-4">
		<h2>ASP.NET Web API</h2>
		<p>
			&ldquo;A framework that makes it easy to build HTTP services that reach a broad
			range of clients. It is an ideal platform for building RESTful applications on
			the .NET Framework.&rdquo;
			<a href="https://msdn.microsoft.com/en-us/library/hh833994(v=vs.108).aspx" target="_blank">
				Microsoft Developer Network
			</a>
		</p>
		<h2>C#</h2>
		<p>
			&ldquo;An elegant and type-safe object-oriented language that enables developers
			to build a variety of secure and robust applications that run on the .NET
			Framework.&rdquo;
			<a href="https://docs.microsoft.com/en-us/dotnet/csharp/getting-started/introduction-to-the-csharp-language-and-the-net-framework" target="_blank">
				Microsoft
			</a>
		</p>
        <h2>Code Refactoring</h2>
        <p>
			&ldquo;A process of restructuring existing computer code—changing the factoring—without
			changing its external behavior.&rdquo;
			<a href="https://en.wikipedia.org/wiki/Code_refactoring" target="_blank">
				Wikipedia
			</a>
		</p>		
    </div>
    <div class="col-md-4">
		<h2>Repository Pattern</h2>
		<p>
			The Repository pattern is used to manage CRUD (Create, Read, Update, and Delete)
			operations through an abstract interface that exposes domain entities and hides the
			implementation details of database access code.
			<a href="https://www.infragistics.com/community/blogs/dhananjay_kumar/archive/2016/03/07/how-to-implement-the-repository-pattern-in-asp-net-mvc-application.aspx" target="_blank">
				Infragistics
			</a>
		</p>
		<h2>Unit of Work Pattern</h2>
		<p>
			The Unit of Work pattern is used to group one or more database operations into a
			single transaction or &ldquo;unit of work&rdquo;, so that all operations either
			pass or fail as one.
			<a href="https://martinfowler.com/eaaCatalog/unitOfWork.html" target="_blank">
				Martin Fowler
			</a>
		</p>
		<h2>Bootstrap</h2>
		<p>
			&ldquo;An open source toolkit for developing with HTML, CSS, and JS.&rdquo;
			<a href="http://getbootstrap.com/" target="_blank">
				GetBootstrap
			</a>
		</p>
    </div>
    <div class="col-md-4">        
		<h2>Inversion of Control (IoC)</h2>
		<p>
			In procedural programming, control of what happens and when, is entirely in the
			hands of the programmer. With IoC, control over happens and when, is inverted or
			placed in the hands of the user.
			<a href="https://www.javaworld.com/article/2071914/excellent-explanation-of-dependency-injection--inversion-of-control-.html" target="_blank">
				JavaWorld
			</a>
		</p>
		<h2>Dependency Injection (DI)</h2>
		<p>
			Dependency injection is a pattern used to implement IoC. It is the act of connecting
			object with others, or “injecting” objects into other objects, usually done by an
			assembler rather than by the objects themselves.
			<a href="https://msdn.microsoft.com/en-us/library/hh323705(v=vs.100).aspx" target="_blank">
				Microsoft Developer Network
			</a>
		</p>
		<h2>Postman</h2>
		<p>
			A powerful HTTP client for testing web services.
			<a href="" target="_blank">GetPostman</a>
		</p>
    </div>
</div>
